<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Khrone</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="realistic-clock">
    <div class="clock-face">
      <div class="glass-cover"></div>
      <div class="hour hand" id="hour"></div>
      <div class="minute hand" id="minute"></div>
      <div class="second hand" id="second"></div>
      <div class="center-circle"></div>

      <div class="clock-numbers">
        <div class="number" data-num="12">12</div>
        <div class="number" data-num="1">1</div>
        <div class="number" data-num="2">2</div>
        <div class="number" data-num="3">3</div>
        <div class="number" data-num="4">4</div>
        <div class="number" data-num="5">5</div>
        <div class="number" data-num="6">6</div>
        <div class="number" data-num="7">7</div>
        <div class="number" data-num="8">8</div>
        <div class="number" data-num="9">9</div>
        <div class="number" data-num="10">10</div>
        <div class="number" data-num="11">11</div>
      </div>
    </div>
  </div>

  <div id="digital-time">--:--:--</div>

  <div style="text-align:center;">
    <select id="zone">
      {% for z in zones %}
      <option value="{{ z }}">{{ z }}</option>
      {% endfor %}
    </select>
    <select id="format">
      <option value="24">24-hour</option>
      <option value="12">12-hour</option>
    </select>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script>
window.addEventListener("beforeunload", () => {
  document.body.classList.add("crt-off");
});
</script>

</body>
</html>
